<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="axeleration.com.finalproject">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/delivery_man"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/delivery_man1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewCustomer"
            android:label="@string/register_new_client"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="axeleration.com.finalproject.MainActivity" />
        </activity>
        <activity
            android:name=".AllClients"
            android:label="@string/title_activity_all_clients"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="axeleration.com.finalproject.MainActivity" />
        </activity>
        <activity
            android:name=".NewTask"
            android:label="Register New Task"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="axeleration.com.finalproject.MainActivity" />
        </activity>
        <activity
            android:name=".ShowAllTasks"
            android:label="@string/title_activity_show_all_tasks"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="axeleration.com.finalproject.MainActivity" />
        </activity>
        <activity android:name=".SignaturePad" />
        <activity
            android:name=".FinishTasks"
            android:label="@string/finish_tasks_label"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="axeleration.com.finalproject.MainActivity" />
        </activity>
        <activity
            android:name=".DailyAssignments"
            android:label="@string/daily_tasks_label"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="axeleration.com.finalproject.MainActivity" />
        </activity>

        <service
            android:name=".NotificationService"
            android:exported="false" />

        <activity
            android:name=".Statistic"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="axeleration.com.finalproject.MainActivity" />
        </activity>
    </application>

</manifest>